/* making boxes look better */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
  font-family: 'roboto', 'helvetica', 'sans-serif'; 
}

.header-bg {
  background-image: url('http://placehold.it/300');
  width: 1190px;
  height: 640px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom;
}

.header-header{
    color: #FFFFFF;
    font-size: 92px;
    text-align: center;
    font-weight: 100;
}
.header-text{
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}    
    

.intro-text {
    color: #C3BFBF;
    font-size: 32px;
    /* centered*/
    text-align: center;
    font-weight: 300;
}
.course-goals-headline{
    color: #777777;
    font-size: 28px;
    /*uppercase */
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    
}
.course-goals-list {
    margin: 3rem;
    padding: 0;
    list-style-type: none;

}
.course-goals-list li {
  margin: 0 10px;
  border: 0;
  float: left;
}
.course-goals-list h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
    
}
.course-goals-list p {
    margin: 0;
    padding: 0;
    color: #777777;
    font-size: 16px;
    /*uppercase */
    text-align: center;
    font-weight: 500;
}

.colearners-headline {
    color: #444444;
    font-size: 28px;
    
}
.colearners-name {
    
}

.colearners-name li{
    color: #444444;
    font-size: 22px;
}

.instructor-header {
    color: #FFFFFF;
    font-size: 18px;
}
.instructor-name {
    color: #FFFFFF;
    font-size: 36px;
    text-transform: uppercase;
}
.instructor-caption {
    color: #FFFFFF;
    font-size: 25px;
}
.instructor-text {
    color: #FFFFFF;
    font-size: 20px;
}

.quote {
    color: #E66244;
    font-size: 40px;
    text-align: center;
}
.quote-author {
    color: #AAAAAA;
    font-size: 24px;
}
.quote-footer {
    color: #AAAAAA;
    font-size: 22px;
}

.footer-bg {
  background-image: url('http://placehold.it/300');
  width: 1190px;
  height: 672px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom;
}